__pycache__
node_modules/
app/results*/
app/*.zip
.env
eval/result/
rai/
tmp/
*.patch
*.local.*
log.txt
messages.txt
result/poem/
gai/
evals/dev/
evals/paper/
evals/paper-speech-tag/
evals/paper-speech-tag-4o/
package-lock.json
